<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category Management</title>
</head>
<body>
<h2>Category Management</h2>

<!-- Create Category Form -->
<a th:href="@{/add-product}">aa</a>

<!-- List of Categories -->
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${products}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.categories.categoryName}"></td>
        <td>
            <a th:href="@{edit-product/{id}(id=${item.id})}">Edit</a>
            <a th:href="@{delete-product/{id}(id=${item.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>